*{
    margin:0px;
}

#upperBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#gameDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 300px;
    min-height: 300px;
}

.gameGrid{
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}